[submodule "dependencies/Open3D"]
	path = dependencies/Open3D
	url = https://github.com/intel-isl/Open3D.git
[submodule "dependencies/instant-meshes"]
	path = dependencies/instant-meshes
	url = https://github.com/3dlg-hcvc/instant-meshes.git
[submodule "dependencies/meshroom"]
	path = dependencies/meshroom
	url = https://github.com/alicevision/meshroom.git
